<!DOCTYPE html>
<html lang="en">
    <body>
        <!-- Footer -->
        <footer>
            <span>&copy; WebDevHub 2022. All rights reserved. <span>&middot;</span> Brought to you by <a href="https://www.skyenterprisesau.com">Sky Enterprises</a></span>
        </footer>

        <script src="/luna-main.js"></script>
    </body>
</html>
