<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Tab Settings -->
        <title><%= title %> - WebDevHub</title>
        <link rel="shortcut icon" type="image/png" href="/icons/256x256.jpg" />
        <link rel="apple-touch-icon" href="/icons/256x256.png" />

        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A central place for developers that offers a variety of tools to help with any developing needs such as code formatting, colour converting and more." />
        <meta name="keywords" content="webdevhub, web dev, webdev, web development, front end, web dev tools, developer tools, web development tools, code formatter, colour converter" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="WebDevHub" />
        <meta name="twitter:description" content="A central place for developers that offers a variety of tools to help with any developing needs such as code formatting, colour converting and more." />
        <meta name="twitter:image" content="https://user-images.githubusercontent.com/19927547/175772260-5622d523-dd80-4fdb-860d-8f7f3dc92880.png" />

        <!-- CSS & JS -->
        <link rel="stylesheet" href="/luna-framework.css" />
        <link rel="stylesheet" href="/style.css" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-LN1VD8C61E"></script>
        <script>
            if (window.location.href.includes("localhost:3000") != true) {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag("js", new Date());

                gtag("config", "G-LN1VD8C61E");
            }
        </script>
    </head>

    <body>
        <nav class="navbar">
            <input type="image" class="navbar-toggler nav-icons" id="navbar-toggler" src="icons/menu.png" />
            <div class="nav-container">
                <li class="nav-brand">
                    <img class="nav-icons" src="/icons/256x256.jpg" alt="Sky Enterprises Logo" />
                    <a href="/">WebDevHub</a>
                </li>
                <div class="collapsible">
                    <ul class="navbar-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/THHamiltonSmith/webdevhub">GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.skyenterprisesau.com">Sky Enterprises</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
