<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="canonical" href="https://webdevhub.herokuapp.com/hex-to-filter" />

        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("header.ejs") %>
    </head>

    <body>
        <div class="index-main">
            <div class="main-content-container">
                <div class="feature-main-header main-header">
                    <h1>Hex to CSS <code>filter:</code></h1>
                    <span>Convert a Hex color into a CSS <code>filter:</code> component to recolor images without having to make a new one.</span>
                    <hr />
                </div>

                <div class="hex-to-filter">
                    <div class="hex-to-filter-main-content">
                        <label>Target color</label>
                        <input class="target" type="text" placeholder="Target hex" value="#00a4d6" />
                        <button onclick="executeFilter();" class="execute">Compute Filters</button>

                        <p>Real pixel, color applied through CSS <code>background-color:</code></p>
                        <div class="pixel realPixel"></div>

                        <p>Filtered pixel, color applied through CSS <code>filter:</code></p>
                        <div class="pixel filterPixel"></div>

                        <br /><br /><br /><br />
                        <code class="filterDetail">filter: </code>
                        <p class="lossDetail"></p>
                    </div>
                    <div class="hex-to-filter-disclaimer">
                        <p>
                            For this code to work well, the starting color of your icon needs to be black. If your icon set isn't black you can prepend <code class="hex-to-filter-disclaimer-code">brightness(0) saturate(100%)</code> to your filter property which will first turn the icon set to black.
                            See the example below
                        </p>
                        <pre>
                                <code>
<!--                            --><span class="pre-title">.nav-icons img</span> {  <span class="pre-comment">// Your image/icon css</span>
<!--                            -->    <span class="pre-variable">width</span>: <span class="pre-variable-value">25px</span>;
<!--                            -->    <span class="pre-variable">height</span>: <span class="pre-variable-value">25px</span>;
<!--                            -->    <span class="pre-variable">filter</span>: <span class="pre-variable-special">brightness</span>(<span class="pre-variable-value">0</span>) <span class="pre-variable-special">saturate</span>(<span class="pre-variable-value">100%</span>);           <span class="pre-comment">// Prepended filter</span>
<!--                            -->    <span class="pre-variable">filter</span>: <span class="pre-variable-special">invert</span>(<span class="pre-variable-value">40%</span>) <span class="pre-variable-special">sepia</span>(<span class="pre-variable-value">89%</span>) <span class="pre-variable-special">contrast</span>(<span class="pre-variable-value">109%</span>);  <span class="pre-comment">// Filter</span>
<!--                            -->}
                                </code>
                            </pre>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include the footer HTML at the end of the page with copyright notice and other links. -->
        <%- include("footer.ejs") %>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/hex-to-filter.js"></script>
    </body>
</html>
