<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="canonical" href="https://webdevhub.herokuapp.com/image-converter" />

        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("header.ejs") %>
    </head>
    
	<body>
        <div class="index-main">
            <div class="main-content-container">

                <!-- title and description -->
                <div class="feature-main-header main-header">
                    <h1>Image Converter</h1>
                    <span>Convert an image to jpg, png and other formats.</span>
                    <div class="disclaimer-box">
                        <p><strong>Disclaimer: </strong>This feature is currently unavailable due to the lack of 
                            server-side integration on the site. Server-side code will be implemented in the future 
                            as the site scales.</p>
                    </div>
                    <hr>
                    <br>
                    <span>Upload an image...</span>
                    <br>
                </div>

                <!-- upload image and preview-->
                <div class="image-converter">

                    <!-- loadfile -->
                    <input class="image-converter-loadfile" id="loadfile" type="file" accept="image/png, image/jpeg">

                    <!-- image preview -->
                    <div class="image-converter-preview-container" id="preview-container">
                        <img src="" class="image-converter-preview-image" id="preview-image">
                        <span id="preview-text">Preview Image</span>
                    </div>

                    <!-- convert format -->
                    <div class="image-converter-convert">

                        <!-- dropdown menu -->
                        <label for="format">Select format</label>   
                        <select id="format">
                            <option value = "none">-- choose --</option>
                            <option value = "png">PNG</option> 
                            <option value = "jpeg">JPEG</option>
                            <option value = "bmp">BMP</option>
                            <option value = "tiff">TIFF</option>
                        </select>

                        <!-- convert button -->
                        <button class="image-converter-submit" id="submit" type="submit">Convert</button>
                    </div>

                    <!-- Warning message -->
                    <div class="image-converter-error" id="error">
                        <img src="../icons/warning.png">
                        <span id="error-text"></span>
                    </div>

                    <!-- Completion message -->
                    <div class="image-converter-success" id="success">
                        <img src="../icons/check.png">
                        <span id="success-text"></span>
                    </div>

                    <!-- Download converted image -->
                    <a class="image-converter-download"  id="download" href="" download="bro">
                        <button>Download</button>
                    </a>

                    <!-- User Credit -->
                    <hr class="credit-hr">
                    <span class="credit-link">Feature added by <a href="https://github.com/foobar41">@foobar41</a></span>
                </div>
            </div>
        </div>
    
        <!-- Include the footer HTML at the end of the page with copyright notice and other links. -->
        <%- include("footer.ejs") %>

        <!-- JS -->
        <script src="/image-converter.js"></script>
    </body>

</html>
