<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Tab Settings -->
        <title>WebDevHub</title>
        <link rel="canonical" href="https://webdevhub.herokuapp.com" />
        
        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("header.ejs") %>
    </head>
    
	<body>
        <div class="index-main">
            <div class="main-header">
                <h1>WebDevHub</h1>
                <span>A hub of tools for developers to help speed up development.</span>
                <hr>
                <p class="disclaimer-box"><strong>Disclaimer: </strong>WebDevHub is still in early development, so not 
                all of our planned features are currently available. Working features are highlighted in blue. The 
                site is open source and relies on, contributers to help develop the app and add new features. If you 
                would like to check out the code or contribute to the site, view the GitHub page 
                <a href="https://github.com/THHamiltonSmith/webdevhub">here</a>. If you would like to suggest a 
                feature, create an issue <a href="https://github.com/THHamiltonSmith/webdevhub/issues">here.</a>
                </a></p>
                
                <h2>Popular Features</h2>
            </div>

            <div class="feature-container">

                <a class="functional" href="code-formatter/#html">
                    <div class="link-img-container">
                        <img src="icons/code.png" alt="Code Icon">
                    </div>
                    <span>HTML Formatter</span>
                </a>
				<a class="functional" href="code-formatter/#css">
                    <div class="link-img-container">
                        <img src="icons/code.png" alt="Code Icon">
                    </div>
                    <span>CSS Formatter</span>
                </a>
				<a class="functional" href="code-formatter/#javascript">
                    <div class="link-img-container">
                        <img src="icons/code.png" alt="Code Icon">
                    </div>
                    <span>JS Formatter</span>
                </a>
				<a href="image-converter">
                    <div class="link-img-container">
                        <img src="icons/image.png" alt="Image Icon">
                    </div>
                    <span>Image Converter</span>
                </a>
				<a class="functional" href="word-counter">
                    <div class="link-img-container">
                        <img src="icons/text.png" alt="Text Icon">
                    </div>
                    <span>Word Counter</span>
                </a>
				<a class="functional" href="colour-converter">
                    <div class="link-img-container">
                        <img src="icons/colour.png" alt="Colour Icon">
                    </div>
                    <span>Colour Converter</span>
                </a>
				<a class="functional" href="hex-to-filter">
                    <div class="link-img-container">
                        <img src="icons/colour.png" alt="Colour Icon">
                    </div>
                    <span>Hex to CSS <code>filter:</code></span>
                </a>
				<a class="functional" href="epoch-time-converter">
                    <div class="link-img-container">
                        <img src="icons/clock.png" alt="Clock Icon">
                    </div>
                    <span>Epoch Converter</span>
                </a>
				<a class="functional" href="json-xml-converter">  
                    <div class="link-img-container">
                        <img src="icons/json.png" alt="JSON Icon">
                    </div>
                    <span>JSON to XML Converter</span>
                </a>
				<a class="functional" href="lorem-ipsum-generator">
                    <div class="link-img-container">
                        <img src="icons/text.png" alt="Text Icon">
                    </div>
                    <span>Lorem Ipsum Generator</span>
                </a>
            </div>

            <div class="feature-row">
                <h2>Code Formatters</h2>
                <span>Format code into a more readable format by fixing indentation, spacing etc.</span>
                <hr>
                <div class="feature-row-content feature-row-type feature-container">
                    <a class="functional" href="code-formatter">
                        <span>Format Code</span>
                        <p>Select any type of code and format form there.</p>
                    </a>
                    <div class="feature-row-content-divider"></div>
                    <a class="functional" href="code-formatter/#html">
                        <div class="link-img-container">
                            <img src="icons/code.png" alt="Code Icon">
                        </div>
                        <span>HTML Formatter</span>
                    </a>
                    <a class="functional" href="code-formatter/#css">
                        <div class="link-img-container">
                            <img src="icons/code.png" alt="Code Icon">
                        </div>
                        <span>CSS Formatter</span>
                    </a>
                    <a class="functional" href="code-formatter/#javascript">
                        <div class="link-img-container">
                            <img src="icons/code.png" alt="Code Icon">
                        </div>
                        <span>JS Formatter</span>
                    </a>
                </div>
                <hr>
            </div>

            <div class="feature-row">
                <h2>Converters</h2>
                <span>Convert JSON to XML, colour types, file types and more.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a href="image-converter">
                        <div class="link-img-container">
                            <img src="icons/image.png" alt="Image Icon">
                        </div>
                        <span>Image Converter</span>
                    </a>
                    <a class="functional" href="colour-converter">
                        <div class="link-img-container">
                            <img src="icons/colour.png" alt="Colour Icon">
                        </div>
                        <span>Colour Converter</span>
                    </a>
                    <a class="functional" href="hex-to-filter">
                        <div class="link-img-container">
                            <img src="icons/colour.png" alt="Colour Icon">
                        </div>
                        <span>Hex to CSS <code>filter:</code></span>
                    </a>
                    <a class="functional" href="json-xml-converter">  
                        <div class="link-img-container">
                            <img src="icons/json.png" alt="JSON Icon">
                        </div>
                        <span>JSON to XML Converter</span>
                    </a>
                    <a class="functional" href="epoch-time-converter">
                        <div class="link-img-container">
                            <img src="icons/clock.png" alt="Clock Icon">
                        </div>
                        <span>Epoch Converter</span>
                    </a>
                </div>
                <hr>
            </div>

            <div class="feature-row">
                <h2>Paragraphs and Text</h2>
                <span>Get the word count of a body of text, generate dummy 'Lorem Ipsum' text and more.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a class="functional" href="word-counter">
                        <div class="link-img-container">
                            <img src="icons/text.png" alt="Text Icon">
                        </div>
                        <span>Word Counter</span>
                    </a>
                    <a class="functional" href="lorem-ipsum-generator">
                        <div class="link-img-container">
                            <img src="icons/text.png" alt="Text Icon">
                        </div>
                        <span>Lorem Ipsum Generator</span>
                    </a>
                </div>
                <hr>
            </div>

            <div class="feature-row">
                <h2>Other Features</h2>
                <span>Some other features the site offers that don't yet have a category.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a href="#">
                        <div class="link-img-container">
                            <img src="icons/link-icon.png" alt="Link Icon">
                        </div>
                        <span>URL Shortener</span>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    
        <!-- Include the footer HTML at the end of the page with copyright notice and other links. -->
        <%- include("footer.ejs") %>
    </body>

</html>
