<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- Tab Settings -->
        <title>WebDevHub</title>
        <link rel="canonical" href="https://webdevhub.herokuapp.com" />
        
        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("header.ejs") %>
    </head>
    
	<body>
        <div class="index-main">
            <div class="main-header">
                <h1>WebDevHub</h1>
                <span>A hub of tools for developers to help speed up development.</span>
                <hr>
                <p class="disclaimer"><strong>Disclaimer: </strong>WebDevHub is still in early development, so not 
                all of our planned features are currently available. Working features are highlighted in blue. The 
                site is open source and relies on, contributers to help develop the app and add new features. If you 
                would like to check out the code or contribute to the site, view the GitHub page 
                <a href="https://github.com/THHamiltonSmith/webdevhub">here.</a></p>
                
                <h2>Popular Features</h2>
            </div>

            <div class="feature-container">
              	<a class="functional" href="code-formatter/#html">
                    <span>HTML Formatter</span>
                    <p>Format HTML code with proper indentation, spacing etc.</p>
                </a>
				<a class="functional" href="code-formatter/#css">
                    <span>CSS Formatter</span>
                    <p>Format CSS code with proper indentation, spacing etc.</p>
                </a>
				<a class="functional" href="code-formatter/#javascript">
                    <span>JS Formatter</span>
                    <p>Format JavaScript code with proper indentation, spacing etc.</p>
                </a>
				<a href="image-converter">
                    <span>Image Converter</span>
                    <p>Convert one image type to another - (e.g PNG to JPG).</p>
                </a>
				<a class="functional" href="word-counter">
                    <span>Word Counter</span>
                    <p>Calculate the word and character count of a body of text.</p>
                </a>
				<a class="functional" href="colour-converter">
                    <span>Colour Converter</span>
                    <p>Convert one colour type to another - (e.g Hex to RGB).</p>
                </a>
				<a class="functional" href="hex-to-filter">
                    <span>Hex to CSS <code>filter:</code></span>
                    <p>Convert a HEX colour code to a CSS<code>filter:</code>property.</p>
                </a>
				<a href="#">
                    <span>URL Shortener</span>
                    <p>Shorten long URLs to make them easier to read.</p>
                </a>
				<a class="functional" href="json-xml-converter">  
                    <span>JSON to XML Converter</span>
                    <p>Convert JSON into the XML markup type.</p>
                </a>
				<a class="functional" href="lorem-ipsum-generator">
                    <span>Lorem Ipsum Generator</span>
                    <p>Generate fake 'Lorem Ipsum' text for prototyping paragraphs.</p>
                </a>
            </div>

            <div class="feature-row">
                <h2>Code Formatters</h2>
                <span>Format code into a more readable format by fixing indentation, spacing etc.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a class="functional" href="code-formatter">
                        <span>Format Code</span>
                        <p>Select any type of code and format form there.</p>
                    </a>
                    <div class="feature-row-content-divider"></div>
                    <a class="functional" href="code-formatter/#html">
                        <span>HTML Formatter</span>
                        <p>Format HTML markup.</p>
                    </a>
                    <a class="functional" href="code-formatter/#css">
                        <span>CSS Formatter</span>
                        <p>Format CSS markup.</p>
                    </a>
                    <a class="functional" href="code-formatter/#javascript">
                        <span>JS Formatter</span>
                        <p>Format JavaScript code.</p>
                    </a>
                </div>
                <hr>
            </div>

            <div class="feature-row">
                <h2>Converters</h2>
                <span>Convert JSON to XML, colour types, file types and more.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a href="image-converter">
                        <span>Image Converter</span>
                        <p>Convert one image type to another - (e.g PNG to JPG).</p>
                    </a>
                    <a class="functional" href="colour-converter">
                        <span>Colour Converter</span>
                        <p>Convert one colour type to another - (e.g Hex to RGB).</p>
                    </a>
                    <a class="functional" href="hex-to-filter">
                        <span>Hex to CSS <code>filter:</code></span>
                        <p>Convert a HEX colour code to a CSS<code>filter:</code>property.</p>
                    </a>
                    <a class="functional" href="json-xml-converter">  
                        <span>JSON to XML Converter</span>
                        <p>Convert JSON into the XML markup type.</p>
                    </a>
                    <a href="#">  
                        <span>Epoch Converter</span>
                        <p>Convert Epoch time to a date and vise-versa.</p>
                    </a>
                </div>
                <hr>
            </div>

            <div class="feature-row">
                <h2>Paragraphs and Text</h2>
                <span>Get the word count of a body of text, generate dummy 'Lorem Ipsum' text and more.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a class="functional" href="word-counter">
                        <span>Word Counter</span>
                        <p>Calculate the word and character count of a body of text.</p>
                    </a>
                    <a class="functional" href="lorem-ipsum-generator">
                        <span>Lorem Ipsum Generator</span>
                        <p>Generate fake 'Lorem Ipsum' text for prototyping paragraphs.</p>
                    </a>
                </div>
                <hr>
            </div>

            <div class="feature-row">
                <h2>Other Features</h2>
                <span>Some other features the site offers that don't yet have a category.</span>
                <hr>
                <div class="feature-row-content feature-container">
                    <a href="#">
                        <span>URL Shortener</span>
                        <p>Shorten long URLs to make them easier to read.</p>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    
        <!-- Include the footer HTML at the end of the page with copyright notice and other links. -->
        <%- include("footer.ejs") %>
    </body>

</html>
