<!DOCTYPE html>
<html lang="en">
	<head>  
        <link rel="canonical" href="https://webdevhub.herokuapp.com/json-xml-converter" />

        <!-- Include the header HTML which contains universal tags, references and other metadata. -->
        <%- include("header.ejs") %>

        <!-- CSS & JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/theme/lesser-dark.min.css" integrity="sha512-rcv22E/xD3QRYj/qKfy+mAlmCF45muYFRPBXJL7hv2F7Sn9k/VKK2070s0bhZOWOKbasRAhLdDCRFQFMMJEhug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/scroll/simplescrollbars.min.css" integrity="sha512-2y3NTsei81d5emn5nwrdflyI5EGULwKXRZ0BCbO55cjgQ8x62X4ydH/jbnzrKnxArstf79F9n6z1j2MtVmJ8YA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
    </head>
    
	<body>
        <div class="index-main">
            <div class="main-content-container">
                <div class="feature-main-header main-header">
                    <h1>JSON to XML Converter</h1>
                    <span>Convert JSON data to XML format and vise-versa.</span>
                    <hr>
                </div>

                <!-- Code Formatter Containers -->
                <div class="code-formatter-header">
                    <span>JSON</span>
                    <span>XML</span>
                </div>
                <hr>
                <div class="code-formatter-container">
                    <div class="formatter-container">
                        <textarea id="code-editor" rows="20" cols="100"></textarea>
                    </div>
                    <div class="formatter-container">
                        <textarea id="code-formatted" rows="20" cols="100"></textarea>
                        <button id="copy" onclick="copyText()">
                            <img src="/icons/copy.png" alt="copy">
                        </button>
                        <span class="formatter-popup" id="popup-text">Copied!</span>
                    </div>
                </div>

                <div id="error-message-container">
                    <span>Something went wrong with the conversion. Please check your code for errors, typos 
                        etc. then try again.</span>
                </div>
                
                <!-- Conversion Controls -->
                <div class="code-formatter-controls">
                    <label for="format-selector">Select Conversion Type</label>   
                    <select id="format-selector" onchange="changeModes()">
                        <option value="xml">JSON - XML</option>
                        <option value="javascript">XML - JSON</option> 
                    </select>
                    <input type="button" value="Convert" onclick="convertData()">
                </div>

                <!-- User Credit -->
                <div class="credit-box">
                    <hr class="credit-hr">
                    <span class="credit-link">Feature added by <a href="https://github.com/THHamiltonSmith">@thhamiltonsmith</a></span>
                </div>
            </div>
        </div>
    
        <!-- Include the footer HTML at the end of the page with copyright notice and other links. -->
        <%- include("footer.ejs") %>

        <!-- CodeMirror -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.js" integrity="sha512-n7rucz/qOiYAkYK1CVKuqygMAnohil8Rg6kKAv0IsF2xnHUhnVyD5K9GO25OUvc+WEVZVu+NIYLblIUpkBMNvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/scroll/simplescrollbars.min.js" integrity="sha512-1Vc3i/yplqkVbJBGgEpx9odVj3SLHMx2EOsQOMJsHbM5LRPL2iaPH2sEE+8sZOCqvuXGignKEwmTqO6/b11RqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/mode/javascript/javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/mode/xml/xml.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/mode/css/css.min.js"></script>

        <!-- Formatter & JS -->
        <script src="/json-xml-converter.js"></script>
    </body>

</html>
