/* Main HTML Styling */
body {
    overflow-x: hidden;
    position: relative;
}
.index-main {
    padding: 40px;
    padding-top: 55px;
    padding-bottom: 120px;
    min-height: calc(100vh - 80px);
    max-width: 1300px;
    margin: auto;
}
.link-icon {
    filter: invert(47%) sepia(8%) saturate(0%) hue-rotate(297deg) brightness(97%) contrast(93%);
    margin-bottom: 0px !important;
    width: 20px !important;
    height: 20px !important;
}
.credit-box {
    text-align: center;
}
.credit-hr {
    margin-top: 30px;
    width: 100%;
}
.credit-link {
    margin-top: 10px;
    color: #999;
}
.credit-link a {
    color: #bbb;
    transition: 0.2s;
}
.credit-link a:hover {
    color: #ccc;
}
.active {
    font-weight: 500;
}

/* Header */
.main-header {
    margin-top: 70px;
    text-align: center;
}
.main-header h1 {
    font-size: 32px;
}
.main-header span {
    color: #888;
}
.main-header hr {
    margin-top: 50px;
    border: 2px solid #555;
}
.disclaimer {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    line-height: 20px;
    font-size: 15px;
    color: #888;
}
@media screen and (max-width: 800px) {
    .disclaimer {
        width: 80%;
    }
    .flex-break {
        margin-top: -20px;
        display: block !important;
      }
}
.disclaimer a {
    color: #999;
    transition: 0.2s;
}
.disclaimer a:hover {
    color: #bbb;
}

/* Feature Buttons */
.feature-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.feature-container a {
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 245px;
    background-color: #303e51;
    color: #eee;
    text-decoration: none;
}
.feature-container a:hover {
    background-color: #3d526f;
    box-shadow: none;
    transition: 0.2s;
}
.feature-container a span {
    font-weight: 600;
}
.feature-container a p {
    color: #aaa;
    margin-bottom: 0px;
    line-height: 21px;
}
.feature-container a code, .colour-converter .hex-to-filter-disclaimer code {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: #4c6e9e;
    font-size: 15px;
}
.feature-container a p code {
    display: inline;
    background-color: transparent;
}
.functional {
    box-shadow: 0 0 0 1px #00a2ff;
}

/* Main Feature Styling */
.main-content-container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}
.feature-main-header {
    margin-top: 20px;
}

/* Feature Rows */
.feature-row {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
.feature-row:after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    bottom: 20px;
    background-image: linear-gradient(to right, transparent, 98%, #171e27);
}
.feature-row h2 {
    margin-bottom: 10px;
}
.feature-row span:nth-child(2) {
    color: #aaa;
}
.feature-row hr {
    margin-top: 10px;
}
.feature-row hr:last-child {
    border: 1px solid #333;
}
.feature-row-content {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow-x: auto;
    cursor: pointer;
}
.feature-row-content::-webkit-scrollbar {
    width: 20px;
    box-shadow: inset 0 0 5px #303e51;
    border-radius: 10px;
}
.feature-row-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #3a4d66;
}
.feature-row-content::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 5px #41648e;
}
.feature-row-content-divider {
    margin-left: 6px;
    margin-right: 6px;
    min-height: 100%;
    width: 4px;
    background-color: #555;
    align-self: stretch;
}
.feature-row-content a {
    flex-shrink: 0;
    height: 0%;
    padding-bottom: 23px;
}


/* Word Counter */
.word-counter textarea, .word-counter-header, .word-counter-footer {
    padding: 10px;
    padding-left: 16px;
    border-radius: 10px;
    width: 100%;
    color: #ddd;
    resize: none;
}
.word-counter {
    display: flex;
    padding-top: 25px;
    width: 100%;
}
.word-counter-container {
    flex-basis: 85%;
    padding-right: 50px;
}
.word-counter textarea {
    padding-top: 15px;
    background-color: #273240;
    box-shadow: 0 8px 6px -2px #14181e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.word-counter textarea:focus {
    box-shadow: 0 0 0 1px #00a2ff;
}
.word-counter-header {
    margin-bottom: 15px;
    background-color: #5775d6;
    box-shadow: 0 8px 6px -2px #11182c;
    color: #e7e7e7;
}
.word-counter-footer {
    margin-top: 8px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 13px;
    font-weight: 500;
    width: 100%;
    background-color: #1f2630;
    box-shadow: 0 8px 6px -2px #161b21;
}
.word-counter-sidebar {
    border-radius: 10px;
    height: 0%;    
    width: 320px;
    background-color: #324560;
    box-shadow: 0 8px 6px -2px #11161e;
}
.word-counter-sidebar ul {
    margin: 0;
    padding-left: 0;
}
.word-counter-sidebar-header {
    border-radius: 10px 10px 0 0;
    background-color: #242c38;
    font-weight: 600;
    font-size: 16px !important;
    border-bottom: none !important;
}
.word-counter-sidebar li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 12px;
    padding-right: 16px;
    border-bottom: 2px solid #4f688d;
    font-size: 15px;
}
.word-counter-sidebar li:last-child {
    border: none;
}
.word-counter-sidebar li span {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    background-color: #475d7e;
    font-size: 13px;
    line-height: 23px;
}


/* Lorem Ipsum Generator */
.lorem-ipsum p {
    margin-bottom: 20px;
    text-align: justify !important;
}
.lorem-ipsum input {
    padding: 5px;
    border-radius: 5px;
    background-color: #29384c;
    color: #e7e7e7;
}
.lorem-ipsum input[type=number] {
    width: 45px;
    text-align: center;
}
.lorem-ipsum input:focus {
    box-shadow: 0 0 0 1px #00a2ff;
}
.lorem-ipsum input[type=button] {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
}
/* Chrome, Safari, Edge, Opera */
.lorem-ipsum input::-webkit-outer-spin-button,
.lorem-ipsum input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.lorem-ipsum-controls {
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #5775d6;
    box-shadow: 0 8px 6px -2px #11182c;
    color: #e7e7e7;
}
.lorem-ipsum-controls span {
    margin-right: 12px;
    font-size: 18px;
    font-weight: 500;
}
.lorem-ipsum-controls .word-count {
    position: absolute;
    right: 15px;
}
#paragraph-container {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-top: 10px;
    min-height: 60px;
    border-radius: 10px;
    background-color: #273240;
    box-shadow: 0 8px 6px -2px #14181e;
}
#paragraph-container p {
    color: #ddd;
}

/* Hex to Filter */
.pixel {
    display: inline-block;
    background-color: #000;
    width: 50px;
    height: 50px;
}
.filterDetail {
    position: absolute;
    white-space: nowrap;
    margin-left: 0px !important;
    font-family: "Consolas", "Menlo", "Ubuntu Mono", monospace;
}
.lossDetail {
    margin-top: 40px;
}
.hex-to-filter {
    position: relative;
    display: flex;
    margin-top: 25px;
}
.hex-to-filter button, input {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.hex-to-filter button {
    margin-bottom: 20px;
    background-color: #008cff;
    color: #fff;
    font-weight: 500;
}
.hex-to-filter input {
    margin-right: 5px;
    width: 100px;
    background-color: #ccc;
}
.hex-to-filter label {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}
@media screen and (max-width: 1250px) {
    .hex-to-filter {
        flex-direction: column-reverse;
        font-size: 14px;
    }
    .hex-to-filter-disclaimer {
        padding: 20px !important;
        width: calc(100% - 40px);
        margin-bottom: 30px;
    }
}
.hex-to-filter-main-content {
    position: relative;
    flex-basis: 50%;
}
.hex-to-filter-main-content code {
    background-color: #354966;
    margin-left: 5px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.hex-to-filter-disclaimer {
    flex-basis: 50%;
    padding: 30px;
    align-self: flex-start;
    border-radius: 15px;
    background-color: #303e51;
    color: #aaa;
}
.hex-to-filter-disclaimer-code {
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 3px;
    font-size: 15px;
    background-color: #222831;
}
.hex-to-filter-disclaimer p {
    margin-top: 0px;
    line-height: 20px;
}
.hex-to-filter-disclaimer pre {
    padding-left: 30px;
    margin-bottom: 0px;
    background-color: #222831;
    overflow-x: scroll;
}
.pre-title {
    color: rgb(207, 179, 121);
}
.pre-variable {
    color: rgb(157, 220, 254);
}
.pre-variable-value {
    color: rgb(182, 206, 168);
}
.pre-variable-special {
    color: rgb(221, 220, 170);
}
.pre-comment {
    color: rgb(107, 153, 85);
}

/* Image Converter */
.image-converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.image-converter-loadfile {
    background-color: #14151a;
}

.image-converter-preview-container {
    background-color: #25303e;
    border-radius: 8px;
    border: 3px solid #14151a;
    width: 50%;
    min-height: 300px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-converter-preview-image {
    display: none;
    width: 100%;
}

.image-converter-convert {
    display: flex;
    align-items: center;
}

.image-converter-convert label {
    margin: 12px;
}

.image-converter-submit {
    background-color: #14151a;
    color: white;
    margin: 12px;
}

.image-converter-error img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding: auto;
} 

.image-converter-success img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    padding: auto;
}

.image-converter-error, .image-converter-success {
    display: none; /* will change to display flex based on conditions */
    align-items: center;
    margin: 10px;
}

.image-converter-download {
    display: none;
    margin: 20px;
}

.image-converter-download button {
    width: 400px;
    height: 50px;
    background-color: #5775d6;
    color: white;
}
.disclaimer-box {
    margin: auto;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 5px;
    border-radius: 20px;
    width: 80%;
    background-color: #243142;
    box-shadow: 0 8px 6px -2px #14181e;
}

/* Code Formatter */
.code-formatter-container {
    display: flex;
    width: 100%;
    gap: 20px;
}
.code-formatter-container textarea {
    width: 100%;
    background-color: #262626;
}
.formatter-container {
    flex: 1; /* formerly flex: 1 0 auto; */
}
.formatter-container div {
    max-width: 590px !important;
}
.formatter-container button {
    background-color:#242426;
    border-radius: 5px;
    padding: 5px;
    width: 30px;
    height: 33px;
    position: relative;
    left: 101%;
    bottom: 90%; /* 86% <==> 90% */
}
.formatter-container img {
    width: 100%;
    height: 100%;
}
.formatter-popup {
    z-index: 100;
    display: inline-block;
    opacity: 0;
    background-color: #262626;
    color: white;
    width: 74px;
    height: 23px;
    text-align: center;
    padding-top: 2px;
    border-radius: 6px;
    position: relative;
    bottom: 106%;
    left: 91%;
}
.code-formatter-controls {
    margin-top: 15px;
    text-align: center;
}
.code-formatter-controls input[type=button] {
    margin-left: 40px;
    background-color: #008cff;
    color: #e7e7e7;
    transition: 0.2s;
}
.code-formatter-controls input, .code-formatter-controls select {
    margin-left: 10px;
}
.code-formatter-controls input[type=button]:hover {
    background-color: #00a2ff;
}
.code-formatter-header {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 20px;
}
.code-formatter-header span {
    flex-basis: 50%;
    font-weight: 600;
}
.CodeMirror {
    padding-top: 4px;
}
.CodeMirror-scroll::-webkit-scrollbar {
    display: none !important;
}
.CodeMirror-gutters {
    padding-right: 6px;
}
.CodeMirror-line {
    padding-left: 12px !important;
}
.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
    background-color: #243142;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    background-color: #324560;
    border: 1px solid #273240;
}
.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
    background-color: #1f2630;
}

/* Error Message */
#error-message-container {
    display: none;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #0381e8;
    border-radius: 5px;
}
#error-message-container span {
    color: #e7e7e7;
    font-size: 15px;
}

/* Colour Converter */
.colour-converter {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}
.flex-break {
    display: none;
    flex-basis: 100%;
    height: 0;
  }
.colour-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.colour-inputs li {
    position: relative;
    list-style-type: none;
}
.colour-inputs li label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    font-weight: 600;
}
.colour-inputs li input {
    background-color: #2a303d;
    color: #e7e7e7;
    width: 240px;
    height: 30px;
    font-size: 16px;
}
.colour-inputs li button {
    position: absolute;
    right: 0;
    height: 46px;
    background-color: transparent;
    padding: 6px;
}
.colour-inputs li button img {
    margin-top: 2px;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    transition: 0.1s;
}
.colour-inputs li button img:hover {
    filter: invert(39%) sepia(37%) saturate(0%) hue-rotate(152deg) brightness(93%) contrast(86%);
}
.colour-inputs li button span {
    position: absolute;
    top: 13px;
    left: -70px;
    background-color: transparent;
    color: #aaa;
}
.colour-block-container h4 {
    margin-top: 0px;
    margin-bottom: 15px;
}
.colour-block {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
}
.colour-converter .hex-to-filter-disclaimer {
    flex: 1;
}
.colour-converter .hex-to-filter-disclaimer p {
    display: inline;
}
.colour-converter .hex-to-filter-disclaimer code {
    background-color: #2a303d;
    margin-left: 2px;
    margin-right: 2px;
}
.colour-converter .hex-to-filter-disclaimer a {
    color: #ccc;
    transition: 0.2s;
    border-bottom: 1px solid #ccc;
}
.colour-converter .hex-to-filter-disclaimer a:hover {
    color: #e7e7e7;
}
@media screen and (max-width: 400px) {
    .colour-converter {
        flex-direction: column;
    }
}
