<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/image-converter/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="form">
        <select name="format">
            <option value = "none">-- choose --</option>
            <option value = "png">PNG</option> 
            <option value = "jpeg">JPEG</option>
            <option value = "bmp">BMP</option>
            <option value = "tiff">TIFF</option>
        </select>
        <button type="submit">Convert</button>            
    </form>
</body>
</html>